body {
  background-color: #fffffc;
}
.navbar {
  padding: 10px;
  width: 100%;
  background-color: #fffffc;
  position: sticky;
  height: 9vh;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
    0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
    0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
    0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
}

.scrolled {
  width: 100%;
  border-radius: 0px;
  border: 0px;
  background-size: cover;
  background-position: center;
  height: 100px;
}

.container-fluid {
  border-radius: 0px;
}

.navbar-light .navbar-nav .nav-item {
  padding: 10px;
  font-weight: bolder;
}

.navbar-logo {
  padding-top: 5px;
  height: 9vh;
  pointer-events: none;
}

.navbar-light .navbar-nav .nav-link {
  color: #1b5e39;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(1, 41, 1);
}

.navbar .navbar-brand {
  color: #144e2e;
  padding: 10px;
}

.navbar .navbar-brand:hover {
  color: rgb(1, 41, 1);
}
