.body {
  align-items: center;
  background-color: #f9f9f9;
}

/* change styling of button when clicked */
:not(.btn-check) + .btn:active {
  background-color: #0ca678;
}

.form-control:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 0.1rem rgba(40, 167, 69, 0.25);
}

.form-select:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 0.1rem rgba(40, 167, 69, 0.25);
}

.btn {
  background-color: #0ca678;
  color: white;
  border: 1px solid #0ca678;
  padding: 10px;
  border-radius: 100px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: white;
  color: #0ca678;
  border: 1px solid #0ca678;
  padding: 10px;
  border-radius: 100px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.btn-middle {
  background-color: white;
  color: #0ca678;
  border: 1px solid #0ca678;
  padding: 10px;
  border-radius: 100px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.btn-middle:hover {
  background-color: #ddf9e8;
  color: #0ca678;
  border: 1px solid #0ca678;
  padding: 10px;
  border-radius: 100px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

/* navbar styling */
.navbar {
  padding: 10px;
  width: 100%;
  background-color: #fffffc;
  position: sticky;
  height: 9vh;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
    0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
    0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
    0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
}

.navbar.landing {
  padding: 5px;
  width: 80%;
  height: 9vh;
  border-radius: 100px;
  background-color: #ddf9e8;
  position: sticky;
}

.navbar.landing.scrolled {
  width: 100%;
  border-radius: 0px;
  border: 0px;
  background-size: cover;
  background-position: center;
  height: 9vh;
}

.container-fluid {
  border-radius: 0px;
}

.navbar-light .navbar-nav .nav-item {
  padding: 5px;
  font-weight: bolder;
}

.navbar-logo {
  padding-top: 5px;
  height: 9vh;
  pointer-events: none;
}

.navbar-light .navbar-nav .nav-link {
  color: #0ca678;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(1, 41, 1);
}

.navbar .navbar-brand {
  color: #144e2e;
  padding: 15px;
  text-decoration: underline;
  font-weight: bold;
}

.navbar .navbar-brand:hover {
  color: rgb(1, 41, 1);
}

.header-navbar {
  background-size: cover;
  background-position: center;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.7s ease-out;
}

.header-navbar.landing {
  background-size: cover;
  background-position: center;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.7s ease-out;
}

.header-navbar.scrolled {
  animation: fadeOutAnimation2 0.5s linear;
  animation-duration: 0.5s;
  height: 10vh;
}

@keyframes fadeOutAnimation2 {
  0% {
    height: 20vh;
  }

  100% {
    height: 10vh;
  }
}

.header-background {
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  background-image: url("assets/nav_back.png");
  background-position: center;
  position: absolute;
  transition: all 0.7s ease-out;
}

.header-background.scrolled {
  animation: fadeOutAnimation 0.5s linear;
  animation-duration: 0.5s;
  background-image: none;
}

@keyframes fadeOutAnimation {
  0% {
    background-image: url("assets/nav_back.png");
    opacity: 1;
  }

  100% {
    opacity: 0;
    background-image: none;
  }
}

.header-text {
  font-size: 48px;
  font-weight: bold;
  color: #144e2e;
  margin-bottom: 20px;
  text-align: center;
  background-color: rgba(221, 249, 232, 0.7);
  padding: 10px;
  border-radius: 10px;
}

.card-col {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: 0px 0px 6px 4px rgba(255, 255, 255, 0.4);
}

/* cards styling */
.card-container {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding: 20px;
}

.card {
  display: flex;
  align-items: center;
  text-align: center;
  /* Prevent cards from growing to fill space */
  width: 225px;
  /* Set a fixed width for cards */
  background-color: #ddf9e8;
  border: 1px solid #0ca678;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.05);
  transition: all 0.7s ease-in-out;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #0ca678;
}

.card-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}

.card-description {
  font-size: 14px;
  color: #0ca678;
  text-align: center;
}

/* section (card-container) styling */
.section-title {
  font-size: 24px;
  font-weight: bold;
  margin: 20px;
  color: #0ca678;
}

.sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  overflow-x: auto;
  background-color: #fffffc;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
  background: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: grey;
}

/* who are we styling */
.who-container {
  display: flex;
  align-items: center;
  padding: 40px;
  height: 40vh;
  margin: 20px;
  background-color: #ddf9e8;
  border-radius: 8px;
  transition: all 0.7s ease-in-out;
}

.who-container:hover {
  transform: scale(1.01);
  transition: all 0.7s ease-in-out;
}

.image-container {
  flex: 0 0 auto;
  margin-right: 20px;
}

.team-photo {
  width: 200px;
  border-radius: 100%;
  border: 4px solid #144e2e;
}

.text-container {
  flex: 1;
}

.who-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #0ca678;
}

.who-description {
  font-size: 18px;
  color: #0ca678;
}

.avatar-icon-xl .avatar-icon {
  width: 64px;
  height: 64px;
}

.avatar-icon {
  border: #fff solid 3px;
  overflow: hidden;
}

.avatar-icon {
  display: block;
  width: 44px;
  height: 44px;
  transition: all 0.2s;
  opacity: 1;
  border-radius: 50px;
}

.rounded-circle {
  border-radius: 50% !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.profilecard.mb-3 {
  margin-bottom: 30px !important;
}

.profilecard-shadow-primary {
  box-shadow: 0 0.46875rem 2.1875rem rgba(63, 106, 216, 0.03),
    0 0.9375rem 1.40625rem rgba(63, 106, 216, 0.03),
    0 0.25rem 0.53125rem rgba(63, 106, 216, 0.05),
    0 0.125rem 0.1875rem rgba(63, 106, 216, 0.03);
}

.profilecard-border {
  box-shadow: 0 0 0 transparent;
  border-width: 1px;
}

.profilecard {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
    0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
    0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
    0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  border-width: 0;
  transition: all 0.2s;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.profilecard {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(26, 54, 126, 0.125);
  border-radius: 0.25rem;
}

.shortcutcard {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(26, 54, 126, 0.125);
  border-radius: 0.25rem;
}

.dropdown-menu-header .menu-header-content {
  text-align: left;
  position: relative;
  background-image: url("assets/nav_back.png");
  z-index: 500;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1.5rem;
}

.p-4 {
  padding: 0.7rem !important;
}

.dropdown-menu-header .menu-header-content .btn-pane-right {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: flex;
  align-content: left;
  align-items: left;
  text-align: left;

  background-color: #0ca678;
}

.avatar-icon-wrapper {
  display: inline-block;
  margin-right: 0.1rem;
  position: relative;
  margin-left: 10px;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.btn-hover-shine {
  position: relative;
}

.menu-header-image {
  background-image: url("assets/nav_back.png");
}

.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.list-group-flush:first-child .list-group-item:first-child {
  border-top: 0;
}

.list-group-flush .list-group-item {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}

.list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.widget-content {
  padding: 1rem;
  flex-direction: row;
  align-items: center;
}

.p-0 {
  padding: 0 !important;
}

.widget-content .widget-content-wrapper {
  display: flex;
  flex: 1;
  position: relative;
  align-items: center;
}

.center-elem {
  display: flex;
  align-items: center;
  align-content: center;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.widget-content .widget-content-right {
  margin-left: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.form-control:focus {
  border-color: #0ca678;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.form-check-input[type="radio"]:focus {
  border-radius: 50%;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.form-check-input:checked[type="radio"] {
  background-color: #28a745;
  border-color: #28a745;
}

.maincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fffffc;
}

.row.form {
  background-color: #ddf9e8;
  height: 100%;
  border-radius: 20px 0 0 20px;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #0ca678;
  border-radius: 100px;
  outline: none;
}
.input-field:focus {
  width: 100%;
  padding: 10px;
  border: 1px solid #0ca678;
  border-radius: 100px;
  outline: none;
}

.input-field.donor {
  width: 100%;
}

.input-field.donor:focus {
  width: 80%;
  outline: none;
}

.login-text {
  font-size: 15px;
  color: #0ca678;
}

.login-text2 {
  font-size: 20px;
  color: #0ca678;
}

.login-text-warning {
  font-size: 15px;
  font-weight: bold;
  color: red;
  text-align: center;
  margin-top: 10px;
}

.login-title {
  font-size: 50px;
  font-weight: bold;
  color: #0ca678;
  text-align: center;
}

.login-btn {
  background-color: #0ca678;
  color: white;
  border: 1px solid #0ca678;
  padding: 10px;
  border-radius: 100px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

.login-btn:hover {
  background-color: white;
  color: #0ca678;
  border: 1px solid #0ca678;
  padding: 10px;
  border-radius: 100px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.login-logo {
  width: 120px;
  height: 120px;
}

.login-logo-container {
  display: flex;
  justify-content: center;
}

.login-link {
  color: #0ca678;
  font-weight: bold;
  text-align: left;
}

.login-bg {
  width: 100%;
  height: 100%;
  border-radius: 0 20px 20px 0;
}

.show-pass-span {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.password-container {
  display: flex;
  margin-bottom: 4px;
}

.icon {
  position: absolute;
  margin-right: 30px;
}

.alert {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.alert.show {
  opacity: 1;
}
